.pages{
    margin: 0 .5rem .5rem .5rem;
    padding: .5rem 7rem .5rem 7rem;
    height: 100vh;
  }
  .main{
    margin: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 2rem;
  }
  .content{
    padding: .1rem .3rem;
  }
  .main h3{
    font-size: 1.4rem;
  }
  .main h3::after{
    content: "";
    position: relative;
    display: block;
    text-align: center;
    width: 4rem;
    height: 2px;
    background: linear-gradient(to right,rgb(28, 66, 110),#5959ac);
    bottom: 0;
    margin : 1rem auto;
  }
  .main p{
    font-size: 1.15rem;
  }