.table{
    text-align: center;
    margin: 3rem auto;
    width: 85%;
    height: 60vh;
    border-radius: 5px;
}
.main h2::after{
    content: "";
    position: relative;
    display: block;
    text-align: center;
    width: 4rem;
    height: 3px;
    background: linear-gradient(to right,rgb(28, 66, 110),#5959ac);
    bottom: 0;
    margin : 1rem auto;
  }